label{
    margin-left: 2rem;
}

input{
    margin-left: 2rem;
}
h1{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    color: rgb(9, 95, 62);
    font-weight: bold;
}
h4{
    margin-left: 2rem;
}
button{
    margin-left: 5rem;
}
.initial{
    background: white;
    max-width: 450px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: rgb(198, 253, 253);
    margin-left: 18rem;
    margin-bottom: 2rem;
    
}
.card{
    background-color: rgb(244, 235, 242);
}