
label{
    margin-left: 10rem;
}

h1{
    
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

input{
    margin-left: 1rem;
}
h3{
    margin-left: 10rem;
}
body{
   margin-top: 6rem;    
}
.initial{
    background: white;
    max-width: 400px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 3rem;
    margin-left: 18rem;
    background-color: rgb(198, 253, 253);
    margin-bottom: 2rem;
}
.btn {
    margin-top: 3rem;
}
.card{
    background-color: rgb(244, 235, 242);
}
/* .alert{
    display: none;
} */