h1{    
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    color: darkblue;
    font-weight: bold;
}
h4{
    color: darkblue;
    margin-left: 2rem;
}
h3{
    margin-left: 2rem;
}
.btn{
    width: 30%;
    margin-left: 1rem;
    margin-top: 3rem;
}
body{
    margin-top: 4rem;
    
}
.initial{
    background: white;
    max-width: 700px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10rem;
    background-color: rgb(198, 253, 253);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card{
    background-color: rgb(244, 235, 242);
}
label{
    font-size:30px;
    font-weight: bold;
    color: rgb(9, 95, 62);
    margin-left: 10rem;
    margin-bottom: 4rem;
}
